@media only screen and (max-width:1024px){
    .wrapper{
        padding: 0px 100px;
    }
      
    
}

/*------------------------------------------------*/

@media only screen and (max-width:768px){
    .main-menu>ul>li>a{
        padding: 10px;
    }
}

/*------------------------------------------------*/


@media only screen and (max-width:480px){
    .wrapper{
        padding: 0px 50px;
    }
    .main-menu>ul{
        flex-direction: column;
    }
    .main-menu>ul>li>a{
        border-bottom: 1px solid gray;
    }
    .main-menu>ul>li:last-child a{
        border: none;
    }
    .blog-section .blog-content{
        flex-direction: column-reverse;
    }
    .blog-section .blog-content .blog-image{
        width: 100%;
        margin: 0px;
    }
    .blog-section .blog-content .blog-description{
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
}
/*------------------------------------------------*/


@media only screen and (max-width:320px){
    .wrapper{
        padding: 0px 10px;
    }
    .main-menu>ul>li>a{
        padding: 5px;
    }
    
    
}