*{
    margin: 0;
    padding: 0;
}

.wrapper{
    padding: 0px 200px;
}


/*------------ LOGO SECTION ---------------*/
.logo-section{}
.logo-section img{
    display: block;
    margin: auto;
}



/*------------ MAIN MENU SECITON ------------*/
/*
.main-menu{}
.main-menu>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.main-menu>ul>li{
    position: relative;
}
.main-menu>ul>li>a{
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 700;
}
.main-menu>ul>li>a:hover{
    background: grey;
    color: white;
}
*/

/* Dropdown Menu */
/*
.main-menu>ul>li>ul{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    flex-direction: column;
    list-style: none;
    background: gray;
    min-width: 180px;
    margin-left: 5px;
}
.main-menu>ul>li>ul>li{}
.main-menu>ul>li>ul>li>a{
    color: black;
    text-decoration: none;
    padding: 8px;
    display: block;
    border-bottom: 1px solid black;
}
.main-menu>ul>li>ul>li:last-child>a{
    border: none;
}
.main-menu>ul>li>ul>li>a:hover{
    background: black;
    color: white;
}
.main-menu>ul>li:hover>ul{
    display: flex;
}
*/



/**************************/
/*************************/
.main-menu{}
.main-menu>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.main-menu>ul>li{
    position: relative;
}
.main-menu ul li .active{
    background: grey;
    color: white;
}
.main-menu>ul>li>a{
/*    color: black;*/
    padding: 15px 25px;
    display: block;
/*    border: 1px solid gray;*/
    margin: 0px 5px 0px 0px;
/*    border-radius: 4px;*/
    text-decoration: none;
}
.main-menu>ul>li>a i{
    padding-right: 5px;
}
.main-menu>ul>li>a:hover{
    background: grey;
    color: white;
}
.main-menu>ul>li:hover>a{
    background: grey;
    color: white;
}

/* Dropdown Menu */
.main-menu>ul>li>ul{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    flex-direction: column;
    list-style: none;
    background: gray;
    min-width: 180px;
    margin-left: 0px;
}
.main-menu>ul>li>ul>li{}
.main-menu ul li ul li .active{
    background: grey;
    color: white;
}
.main-menu>ul>li>ul>li>a{
    color: black;
    text-decoration: none;
    padding: 8px;
    display: block;
    border-bottom: 1px solid black;
}
.main-menu>ul>li>ul>li:last-child>a{
    border: none;
}
.main-menu>ul>li>ul>li>a:hover{
    background: grey;
    color: white;
}


.main-menu>ul>li:hover>ul{
    display: flex;
}
/**************************/
/*************************/




/*----------- BANNER SECITON ---------------*/
.banner-section{}
.banner-section img{
    width: 100%;
    height: auto;
}




/*---------- BLOG SECTION -------------*/
.blog-section{
    padding: 50px 0px;
}
.blog-section .blog-title{}
.blog-section .blog-title h1{
    text-align: center;
    padding-bottom: 15px;
    text-transform: uppercase;
}


.blog-section .blog-content{
    display: flex;
}
.blog-section .blog-content .blog-description{
    margin-right: 15px;
    text-align: justify;
    width: 50%;
}
.blog-section .blog-content .blog-description p{}

.blog-section .blog-content .blog-image{
    margin-left: 15px;
    width: 50%;
}
.blog-section .blog-content .blog-image img{}
.blog-section .blog-content .blog-image img{
    width: 100%;
}















